<h1>User Info Page</h1>
<div id="edit-container">
	<div class="row">
	 <div class="small-10 small-centered columns">
			<div class="inner-container-edit panel callout radius">
			<div class="row">
				<div class="small-6 columns">
					<h4>Username: </h4><p class="edit-bold"><%=@user.username%></p>
					<h4>Name: </h4><p><%=@user.name%></p>
				</div>
				<div class="profpic small-6 columns clearfix">
					<img id="user-avatar-img right" src="<%=@user.avatar%>"/>
				</div>
			</div>
				<div id="edit-button-submit"><%= link_to 'Edit', edit_user_path(@user.id), class: 'button round' %></div>
		 </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<h2>Posts by <%=@user.name%></h2>
	</div>
	<div class="large-6 columns">
		<h2>Songs saved</h2>
	</div>
</div>
	<% @posts.each do |post| %>
		<div class="row">
			<div class="large-6 columns">
				<%= link_to post.title, post_path(post.id)%>
			</div>
			<div class="large-6 columns">
				<iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%=post.soundcloudfile%>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
	<%end%>
