<div id="posts-wrapper">
	<%=image_tag("sa-banner.png", alt: "SA Banner", class: "banner-image")%>

	<div id="posts-inner-wrapper row">
		<div class="small-10 small-centered columns">
		
		<% @posts.each do |post| %>
		
			<div class="row post posts-row">
			
				<!--		Upvotes 	-->
				<div class="small-1 columns upvote-wrapper">
					<p class="upvote-number"><%= post.upvote %></p>
					<input class="upvote-icon" src="assets/images/upvoteIcon.png" type="image" alt="up">
					<input type="hidden" name="upvote-icon-index" value="<%= post.id %>">
				</div>
				
			<!--		content		-->
				<div class="small-9 columns">
					<h4 class="post-header-posts"><%= link_to post.title, post %></h4>
					<br/>
					<p class="post-content"><%= post.content %></p>
				</div>
				<div class="small-2 columns">
					<p>By: <%= link_to post.user.username, user_path(post.user.id) %></p>
					<img class="index-avatar" src="<%= post.user.avatar %>" alt="user avatar">
				</div>
			</div>
				<% end %>
		</div>
	</div> <!-- closes container	-->
<br>
<footer>
	<p class="disclaimer">we do not own any of the rights to the music on our website</p>
	<p class="disclaimer">&copy; Raina Koren | Anthony Lui | Steve Edelmann | Matt Fewer</p>
</footer>
