<div id="posts-wrapper">
	<h1>static-address</h1>
	<h3>Be heard through the static...</h3>

	<div id="posts-inner-wrapper">
		<% @posts.each do |post| %>
		<div id="posts-row" class="row post">
			<div id="upvote-wrapper" class="small-1 columns">
				<p><%= link_to "up", upvote_post_path(post)%></p>
				<p class="upvote-number"><%= post.upvote %></p>
			</div>
			<div class="small-9 columns">
				<h4 class="post-header-posts"><%= link_to post.title, post %></h4>
				</br>
				<p><%= post.content %></p>
			</div>
			<div class="small-2 columns">
				<p>By: <%= link_to post.user.username, user_path(post.user.id) %></p>
				<img src="<%= post.user.avatar %>" alt="user avatar">
			</div>
	</div>
				<% end %>

</div> <!-- closes container	-->

<footer>
	<p class="disclaimer">we do not own any of the rights to the music on our website</p>
	<p class="disclaimer">&copy; Raina Koren | Anthony Lui | Steve Edelmann | Matt Fewer</p>
</footer>
