<%= form_for @post do |f| %>

<!-- hidden_field_tag(:user_id, session[:user_id]) #need to check this-->
<%= f.label :title, 'Song Title' %>
<%= f.text_field :title, placeholder: 'Song Title' %> <br>
<%= f.label :artist, 'Artist' %>
<%= f.text_field :artist, placeholder: 'Artist' %> <br>
<%= f.label :genre, 'Genre' %>
<%= f.text_field :genre, placeholder: 'Genre' %> <br>
<%= f.label :content, 'Body Content' %>
<%= f.text_area :content, placeholder: 'Enter your body content here!' %>

<%= f.label :soundfile, 'Soundcloud'%>
<%= f.radio_button(:media_selection, '1')%><br/>
<div id="soundcloud-input" class="hidden"><%= f.text_area :soundcloudfile, placeholder: 'Soundcloud Link' %></div>

<%= f.label :soundfile, 'YouTube'%>
<%= f.radio_button(:media_selection, '2')%>
<div id="youtube-input" class="hidden"><%= f.text_area :youtubefile, placeholder: 'YouTube Link' %></div><br/>
<%= f.submit %>

<% end %>

<script> 
	
	var mediaSelection = 0;
	$('#post_media_selection_1').on("click", function(){
		$('#soundcloud-input').toggle("show");
		$('#youtube-input').hide();
		mediaSelection = 1;
	});
	$('#post_media_selection_2').on("click", function(){
		$('#youtube-input').toggle("show");
		$('#soundcloud-input').hide();
		mediaSelection = 2;
	});
</script>