<script type="application/javascript">
	var mediaNum = "<%= raw(@post.media_selection) %>"
	console.log(mediaNum)
	
	var url = "<%= (@post.media_selection == "1")? @post.soundcloudfile : @post.youtubefile %>";
	console.log(url)
	
</script>

<div id="show-wrapper">
	<div class="row">
		<div id="title-row-show" class="small-6 small-centered columns">
			<h1><%= @post.title %></h1>
		</div>
	</div>

<div id="post-inner-wrapper">

	<div id="media-row" class="row">
		<div class="small-12 medium-6 columns">
			<h3 id="show-post-title">By: <%= @user.username %> </h3>
		</div>
		<div id="media-player-div" class="small-12 medium-6 columns">
			<div id="target"></div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="small-6 small-centered columns">
			<h2>Body Title</h2>
		</div>
		
		<div class="small-12 columns">
			<section>
				<p><%= @post.content %></p>
			</section>
		</div>
	</div>
</div>
</div>
<div class="comments-wrapper">
	<div id="comment-inner-wrapper">
		<a data-dropdown="drop2" aria-controls="drop2" aria-expanded="false">Leave a comment</a>
		<% link_to "leave a comment", comments_path%>
		<div id="drop2" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">

			<%= form_for @comment do |f| %>
			<%= f.label :content, 'What do you think?' %>
		<%= f.text_field :content, placeholder: 'Write your comments here...', :size => 150 %> <br>
		<%= f.hidden_field :user_id, :value => session[:user_id]%>
		<%= f.hidden_field :post_id, :value => @post.id%>
		<%= f.submit %>
		<%end%>
		</div>
	</div>
        <div class="row">
            <div class="small-9 small-centered columns">
				<% @comments.each do |c|%>        
                <h6><%= c.user.username %></h6>
                <p><%= c.content %></p>
                <h7 class="date"><%=c.created_at%></h7>
				<% end %>
            </div>
        </div>    
    </div>

</div>