<script type="application/javascript">
	var mediaNum = "<%= raw(@post.media_selection) %>"
	console.log(mediaNum)

	var url = "<%= (@post.media_selection == "1")? @post.soundcloudfile : @post.youtubefile %>";
	console.log(url)

</script>

<div id="show-wrapper">
	<div class="row">
		<div id="title-row-show" class="small-6 small-centered columns">
			<h1><%= @post.title %></h1>
		</div>
	</div>

<div id="post-inner-wrapper">

	<div id="media-row" class="row">
		<div class="small-12 medium-6 columns">
			<h3 id="show-post-title">By: <%= @user.username %> </h3>
			<h5><%= @post.content%></h5>
		</div>
		<div id="media-player-div" class="small-12 medium-6 columns">
			<div id="target"></div>
		</div>
	</div>

	<hr>

	
</div>
</div>
