<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Static Address" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Static Address" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
<!--		<script src="http://connect.soundcloud.com/sdk.js"></script>-->
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag('public') %>
    <%= csrf_meta_tags %>
	</head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
